/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-size: 16px;
    font-family: "M PLUS 1", sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}


/*========================

ヘッダー

=========================*/

.top__loopbar {
    width: 100%;
    height: 40px;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D92B44;
    overflow: hidden;
    z-index: 999;
}

.top__loopbar ul {
    display: flex;
    align-items: center;
}

.top__loopbar ul li {
    padding: 0 8px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.4em;
    font-size: 0.85rem;
    white-space: nowrap;
    animation: loop 23s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-200%)
    }
}

.top__loopbar li span {
    font-weight: 600;
    padding-right: 20px;
}

h1 {
    position: fixed;
    top: 4.5rem;
    left: 6rem;
    z-index: 222;
}

h1 a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

h1 a img {
    width: 200px;
}

h1 a span {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.08em;
    font-weight: 700;
    color: #333;
    padding-left: 20px;
}

nav {
    position: fixed;
    top: 44%;
    right: 0;
    z-index: 111;
}

.menu-title {
    position: absolute;
    top: -45px;
    left: -20px;
    z-index: 1;
    width: 5rem;
    height: 4rem;

    background-image: url(./img/navi-deco.svg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    transform: rotate(-6deg);

}

.menu-title span {
    line-height: 4rem;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.site-menu ul {
    position: relative;
    padding: 1.1rem;
    background-color: #fff;
    border: 3px solid #000;
}

.site-menu ul li {
    padding: 7px 0;
    text-align: center;
}

.site-menu ul li a {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #000;
}

.entry-button {
    padding: 1.4rem 1.2rem;
    background-color: #000;
    text-align: center;
}

.entry-button a {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}



/*========================

ファーストビュー

=========================*/

.fv {
    height: 53rem;
    position: relative;
}

.background__white--area {
    margin: 0 40px;
    padding-top: 40px;
    background: #FCF9F4;
    position: relative;
    z-index: 1;
}

.background__red {
    background-color: #D92B44;
}

.background__red::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #d92b44;
    z-index: 75;
}

.fv h2 {
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 14%;
    left: 75%;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.fv h2 span {
    font-size: 1.7rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.15em;
}


.top-text svg path {
    fill: #D92B44;
    stroke: #D92B44;
    stroke-width: .2px;
    animation: svg-anime 3s ease-in;
}

@keyframes svg-anime {
    0% {
        fill: transparent;
        stroke-dasharray: 1000px;
        stroke-dashoffset: 1000px;
    }

    90% {
        fill: transparent;
        stroke-dashoffset: 0;
    }

    100% {
        fill: #D92B44;
    }
}

.logo-animation li.text-s svg {
    position: absolute;
    top: 11%;
    left: 9%;
}

.logo-animation li.text-h svg {
    position: absolute;
    top: 21%;
    left: 23%;
    z-index: 1;
}

.logo-animation li.text-o svg {
    position: absolute;
    top: 13%;
    left: 39%;
    z-index: 1;
}

.logo-animation li.text-s02 svg {
    position: absolute;
    top: 43%;
    left: 42%;
}

.logo-animation li.text-h02 svg {
    position: absolute;
    top: 53%;
    left: 57%;
}

.logo-animation li.text-i svg {
    position: absolute;
    top: 46%;
    left: 69%;
}

.logo-animation li.text-n svg {
    position: absolute;
    top: 40%;
    left: 83%;
}

.person01 {
    position: absolute;
    top: 26%;
    left: 5%;
}

.plant01 {
    position: absolute;
    top: 16%;
    left: 15%;
}

.person02 {
    position: absolute;
    top: 43%;
    left: 18%;
}

.person03 {
    position: absolute;
    top: 24%;
    left: 29%;
}

.person04 {
    position: absolute;
    top: 25%;
    left: 45%;
    z-index: 2;
}

.person05 {
    position: absolute;
    top: 8%;
    left: 52%;
}

.person06 {
    position: absolute;
    top: 30%;
    left: 72%;
}

.clip01 {
    position: absolute;
    top: 78%;
    left: 73%;
    animation: parallax linear both;
    animation-timeline: view();
}

@keyframes parallax {
    from {
        top: 78%;
        left: 73%;
    }

    to {
        top: 50%;
        left: 73%;
    }
}

.clip02 {
    position: absolute;
    bottom: 1%;
    left: 80%;
    animation: parallax02 linear both;
    animation-timeline: view();
}

@keyframes parallax02 {
    from {
        bottom: 1%;
        left: 80%;
    }

    to {
        bottom: 25%;
        left: 80%;
    }
}

.clip03 {
    position: absolute;
    bottom: 4%;
    left: 80%;
    animation: parallax03 linear both;
    animation-timeline: view();
}

@keyframes parallax03 {
    from {
        bottom: 4%;
        left: 80%;
    }

    to {
        bottom: 29%;
        left: 80%;
    }
}

.home-news {
    position: absolute;
    bottom: 21%;
    left: 8.5%;
}

.home-news__wrap {
    display: flex;
    background-color: #FFEDEF;
    border-radius: 30px;
    padding-right: 40px;
    max-width: 30rem; 
    overflow: hidden; 
}

.home-news__wrap h4 {
    width: 28rem;
    height: 2.3rem;
    background-color: #D92B44;
    border-radius: 30px;
    text-align: center;
}

.home-news__wrap h4 a {
    color: #fff;
    line-height: 2.3rem;
    text-decoration: none;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: block;
}

.home-news__list {
    flex-grow: 1;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 2.3px;
}

.home-news__list article {
    display: flex;
    align-items: center;
}


.home-news__list article a {
    display: flex;
    font-size: 0.7rem;
    text-decoration: none;
    color: #000;
    line-height: 2.3rem;
    padding: 0 0 0 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.home-news__list article a p.news-data {
    color: #D92B44;
    font-size: 0.6rem;
    padding-right: 20px;
    letter-spacing: 0;
}

.about {
    position: relative;
    padding-bottom: 220px;
    z-index: 1;
}

.pen01 {
    position: absolute;
    top: -7%;
    right: -2%;
    transition: all 1.2s ease-in-out;
    transition-delay: 1s;
}

img.about__textarea--img {
    width: 41.5rem;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
}

img.about__textarea--bg {
    width: 55rem;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
}


.about__inner {
    max-width: calc(100% - 12rem);
    margin: 0 auto;
}

.about__title {
    display: flex;
    margin-top: -70px;
}

.about__title h3 {
    font-size: 3rem;
    letter-spacing: 0.2em;
    line-height: 1.4;
}

.about__title h3 b {
    font-size: 4rem;
}

.about__title h3 small {
    font-size: 1.8rem;
}

.about__title h3 strong {
    font-size: 4.8rem;
}

.about__title h3 span {
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: #fff;
    display: inline-block;
    border-bottom: 3px solid #000;
}


.about__title--small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: rotate(90deg);
    margin-top: -90px;
    margin-left: -280px;
    gap: 0.3rem
}

.about__title--small span {
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #D92B44;
    padding-bottom: 3px;
}

.about__textarea {
    margin-top: -30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* フレックスボックスで右寄せ */
    align-items: flex-start;
}

.circle__animation {
    position: absolute;
    top: -150px;
    right: -30px;
    width: 43rem;
}

.circle__animation img {
    overflow: visible;
    width: 100%;
    height: 100%;
    animation: rotate 40s linear infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about__text-content {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    align-items: center;
}

.about__text-content p.message {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 4rem;
    color: #D92B44;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 60px;
}

.about__text-content p.message::after {
    content: "";
    width: 180px;
    height: 1px;
    background-color: #D92B44;
    margin-left: 1rem;
    transition: all 1.2s ease-in-out;
    transition-delay: 1s;
}


.about__main--text {
    writing-mode: vertical-rl;
    line-height: 2.2;
    letter-spacing: .005em;
    margin-right: 100px;
}

.about__main--text p {
    font-size: 0.8rem;
    padding: 0 10px;
}

.about__main--text p span {
    color: #D92B44;
}


/*========================

スタッフ紹介

=========================*/

.staff-list {
    background-color: #D92B44;
    padding-bottom: 80px;
    position: relative;
}

.staff-list__title {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 6em;
}

.clip04 {
    position: absolute;
    top: -7%;
    left: 0;
    animation: parallax05 linear both;
    animation-timeline: view();

}

@keyframes parallax05 {
    from {
        top: -7%;
        left: 0;
    }

    to {
        top: -30%;
        left: 0;
    }
}

.eraser01 {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: 0;
    animation: parallax06 linear both;
    animation-timeline: view();
}

@keyframes parallax06 {
    from {
        top: -10%;
        right: 0;
    }

    to {
        top: -30%;
        right: 0;
    }
}


.staff-list__title h2 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 1.5;
    letter-spacing: 0.2em;
    font-size: 1.4rem;
}

.staff-list__title span.staff-list__title--bold {
    font-size: 6.8rem;
    font-weight: 600;
    margin-right: -0.1em;
    margin-left: -0.2em;
}

.staff-list__title p {
    line-height: 1.6;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}

.staff-slider {
    border-top: 1px solid #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.staff-slider.slick-initialized {
    visibility: visible;
}

.staff-item {
    width: 26rem;
    margin-right: 4.5rem;
}

.post {
    position: relative;
}

.staff-item__img {
    display: flex;
}

.staff-item__img span {
    font-size: 3.5rem;
    font-style: italic;
    padding-top: 30px;
    padding-right: 10px;
    color: #fff;
    font-weight: 200;
}

.staff-item__img img {
    width: 14rem;
}

.staff-item__text {
    position: absolute;
    left: 0;
    bottom: 50px;
    white-space: nowrap;
}

.staff-item__text h3 {
    display: inline;
    background-color: #fff;
    line-height: 2.5;
    border-bottom: 2px solid #333;
    font-size: 1rem;
}

.staff-item__text a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.staff-item__text p {
    font-size: 0.75rem;
    color: #fff;
    margin-top: 15px;
    line-height: 1.5;
}

.staff-item a.arrow {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 40px;
    line-height: 40px;
    text-decoration: none;
}

.staff-item a.arrow:hover {
    background-color: #FFA0B6;
    opacity: 0.9;
}

.staff-list__button {
    text-align: center;
    margin-top: -5px;
    z-index: 1;

}

.staff-list__button a {
    width: fit-content;
    min-width: min(17.5rem, 100%);
    background-color: #fff;
    text-decoration: none;
    color: #D92B44;
    padding: 16px 20px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 2px;
    letter-spacing: 0.05em;
}

.button_decoration::before, .button_decoration::after {
    content: "";
    display: inline-block;
    position: static;
    margin: 0 20px;
    width: 0.3rem;
    height: 0.3rem;
    background-color: #D92B44;
    border-radius: 50%;
}

.img__content {
    width: 100%;
    height: 100vh;
    background-image: url('./img/group-people.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: relative;
}

.img__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.img__content--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.img__content--title img {
    width: 7rem;
    padding-right: -20px;
}

.img__content--title h2 {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.2em;
    font-weight: 500;
}

.img__content--title h2 span {
    font-size: 4.5rem;
    padding: 0 10px;
}

.img__content--title h2 span.logo_text {
    letter-spacing: -0.15em;
    margin-right: 20px;
}

.recruit {
    background-color: #D92B44;
    width: 100%;
    padding-top: 40px;
    margin-top: -25vh;
}

.recruit__inner {
    background-color: #FCF9F4;
    margin: 0 40px;
    padding: 100px;
}

.recruit__inner h2 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    font-weight: 500;
    position: relative;
    margin: 20px 0 100px;
}


.recruit__inner h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    background-color: #D92B44;
    width: 35%;
}

.recruit__inner h2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    background-color: #D92B44;
    width: 35%;
}

.recruit__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    gap: 2.5rem;
}

.new-graduate__box {
    height: 14rem;
    width: 100%;
    text-align: center;
    background-color: #FFEDEF;
    position: relative;
    transition: background 1s ease, color 1s ease;
}

.new-graduate__box::after {
    position: absolute;
    border: 1px solid #D92B44;
    content: "";
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
}

.new-graduate__box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s ease;
}


.new-graduate__box:hover {
    background: url(./img/bnr-requirements01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.new-graduate__box:hover a {
    color: #fff;
}

.new-graduate__box:hover h3 {
    border-bottom: 2px solid #fff;
}

.new-graduate__box:hover.new-graduate__box::after {
    border: 1px solid #fff;
}

.new-graduate__box a h3 {
    font-size: 2.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-bottom: 12px;
    letter-spacing: 0.3rem;

}

.new-graduate__box a span {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.mid-career__box {
    height: 14rem;
    width: 100%;
    text-align: center;
    background-color: #E3F2FF;
    position: relative;
    transition: background 1s ease, color 1s ease;
}

.mid-career__box::after {
    position: absolute;
    border: 1px solid #0039A4;
    content: "";
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
}

.mid-career__box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s ease;
}

.mid-career__box:hover {
    background: url(./img/bnr-requirements02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.mid-career__box:hover a {
    color: #fff;
}

.mid-career__box:hover h3 {
    border-bottom: 2px solid #fff;
}

.mid-career__box:hover.mid-career__box::after {
    border: 1px solid #fff;
}

.mid-career__box a h3 {
    font-size: 2.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-bottom: 12px;
    letter-spacing: 0.3rem;

}

.mid-career__box a span {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}


.recruit-contact {
    background-color: #D92B44;
    padding-bottom: 130px;
    width: 100%;
    position: relative;
}


.recruit-contact__inner {
    background-color: #FCF9F4;
    margin: 0 40px;
    padding-bottom: 120px;
}

.recruit-contact__entry {
    overflow: hidden;
    position: relative;

}

.recruit-contact__entry ul {
    display: flex;
    align-items: center;
    margin: 50px 40px 0;
}

.recruit-contact__entry ul li {
    padding-right: 60px;
    color: #FCF9F4;
    font-weight: 1000;
    letter-spacing: 0.4em;
    animation: loop 23s linear infinite;
    -webkit-text-stroke: 1px #D92B44;
}

.recruit-contact__entry h2 {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-55%, -55%);
    font-size: 2.3rem;
    letter-spacing: 0.2em;
    white-space: nowrap;
}

.recruit-contact__entry h2 span {
    font-size: 3.5rem;
}

.recruit-contact__entry h2 span:first-child {
    font-size: 3rem;
}

.recruit-contact__entry h2 span.title--big {
    font-size: 4.2rem;
    color: #D92B44;
}

.recruit-site__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    gap: 2.5rem;
}

.recruit-site__container {
    margin: 0 140px;
    margin-top: -10px;
}

.recruit-site__box ul h3 {
    width: 100%;
    background-color: #D92B44;
    font-size: 1.7rem;
    color: #fff;
    letter-spacing: 0.3em;
    padding: 30px 0;
    font-weight: 500;
    text-align: center;
}

.recruit-site__box li {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D92B44;
}

.recruit-site__box li a {
    width: 50%;
    height: 8rem;
    position: relative;
    transition: all 0.4s ease-out;
}

.recruit-site__box li a:hover {
    background-color: #F7C3C8;
}

.recruit-site__box li a:last-child {
    border-left: 1px solid #D92B44;
}

.recruit-site__box li.contact-new a img {
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recruit-site__box ul.contact-middle h3 {
    background-color: #0039A4;
}

.recruit-site__box ul.contact-middle li {
    border: 1px solid #0039A4;
}

.recruit-site__box ul.contact-middle li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: all 0.4s ease-out;

}

.recruit-site__box ul.contact-middle li a:last-child {
    border-left: 1px solid #0039A4;
}

.recruit-site__box ul.contact-middle li a:hover {
    background-color: #B4C5E5;
}

.recruit-site__box ul.contact-middle li a img {
    width: 2rem;
    float: left;
}

.recruit-site__box ul.contact-middle li a p {
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    margin-left: 8px;
    font-weight: 600;
}

.recruit-site__box ul.contact-middle li a p.tel-big {
    font-size: 1.1rem;
}

.recruit-site__box ul.contact-middle li a p span {
    font-size: 0.8rem;
    font-family: "M PLUS 1", sans-serif;
}

.recruit-contact__img img {
    width: 65rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    height: 12rem;
}

.footer__container {
    display: flex;
    align-items: center;
}

.footer-info {
    padding: 0 70px;
}

.footer-info img {
    width: 15rem;
    padding-bottom: 25px;
}

.footer-info p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer__container ul {
    display: flex;
    align-items: center;
}

.footer__container ul li {
    padding: 0 1.5rem;
}

.footer__container ul li a {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.15em;
}

.footer__container ul li img {
    width: 0.9rem;
    margin-left: 4px;
}

.top-button {
    width: 12rem;
    height: 12rem;
    background-color: #000;
    text-align: center;
    line-height: 12rem;
    position: relative;
}

.top-button span {
    color: #fff;
    height: 1.5rem;
    font-size: 1rem;
}

.top-button a {
    display: block;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    font-weight: 200;
    text-decoration: none;
    font-style: italic;

}